# Build output
build

# Temp workspace
temp
.humanize*
.vscode
.cache

# Test runtime artifacts
tests/.results/
tests/**/*.parallel.sh

# Waveform Debug related
novas*
verdi*
*.fsdb
*.fst
sysProgress*/*
sysProgress*
ucli.key
