[submodule "externals/llvm"]
	path = externals/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/cmsis-core"]
	path = externals/cmsis-core
	url = git@github.com:STMicroelectronics/cmsis-core.git
