[submodule "externals/llvm"]
	path = externals/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/cmsis-dsp"]
	path = externals/cmsis-dsp
	url = git@github.com:ARM-software/CMSIS-DSP.git
[submodule "externals/cmsis-nn"]
	path = externals/cmsis-nn
	url = git@github.com:ARM-software/CMSIS-NN.git
[submodule "externals/cmsis-core"]
	path = externals/cmsis-core
	url = git@github.com:ARM-software/CMSIS_6.git
[submodule "externals/circt"]
	path = externals/circt
	url = https://github.com/llvm/circt.git
[submodule "externals/gem5"]
	path = externals/gem5
	url = https://github.com/gem5/gem5.git
[submodule "externals/unity"]
	path = externals/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "externals/or-tools"]
	path = externals/or-tools
	url = https://github.com/google/or-tools.git
